<!DOCTYPE html>
<html lang="en" charset="UTF-8">
<head>

    <th:block th:replace="fragments/common-head-libs :: common-head-libs"></th:block>

    <title>e-Core - GCP</title>
</head>
<body>
<th:block th:replace="fragments/menu-fragment :: menu"></th:block>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Translator
                </div>
                <div class="card-body">
                  Translate
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/commons-js :: commons-js"></th:block>
</body>
</html>
