<div class="d-flex"  th:fragment="menu">
    <div class="p-2">
        <img src="/images/ecore.png" alt="Imagem" class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
    </div>
    <ul class="nav nav-pills menu-container">
        <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Add users</a>
                <a class="dropdown-item" href="#">Edit users (in progress)</a>
            </div>
        </li><li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Trips</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Picture your destiny (in progress)</a>
                <a class="dropdown-item" href="#">Low-cost flights (in progress)</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">AI / Data Tools</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/vision">What is your mood?</a>
                <a class="dropdown-item" href="/sentiment">Sentiment Analysis</a>
                <a class="dropdown-item" href="/translator">Translator with LLM</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Fraud Detection (in progress)</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="logout-link">Logout</a>
        </li>
    </ul>
</div>